
.mainContainer{
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'HK Grotesk', sans-serif;
}
.portrait img {
    margin-top: 10%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.header{
    margin: 50px auto;
}
.header p{
    font-size: 67px;
    color: #222;
    font-weight: 700;
    line-height: 57px;
    margin: 20px auto;
}

p {
    font-size: 19px;
    font-weight: 400;
}
a{
    color: #222;
    text-decoration-thickness: 15%;
    text-underline-offset: 6px;
}

.contacts{
    margin: 30px auto;
}

.email{
    font-size: 19px;
}
.email p{
    margin: 0px;
}
a{

}